<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alinturbut.restauranter" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/restauranterTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name" >

            <!-- android:parentActivityName=".activity.LoginActivity" > -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.alinturbut.restauranter.activity.LoginActivity" /> -->
        </activity>

        <service
            android:name=".service.CachingService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.MenuService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.RestaurantFactsService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.RestaurantFactListActivity"
            android:label="@string/title_restaurantfact_list" >
        </activity>
        <activity
            android:name=".activity.RestaurantFactDetailActivity"
            android:label="@string/title_restaurantfact_detail"
            android:parentActivityName=".activity.RestaurantFactListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alinturbut.restauranter.activity.RestaurantFactListActivity" />
        </activity>

    </application>

</manifest>
